# Object files
*.o
*.ko
*.obj
*.elf
*.d
digest/m32/
src/obj/
src/libs/

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# User files
*.user
