# Object files
*.o
*.ko
*.obj
*.elf
*.d
src/Makefile
src/Makefile.Debug
src/Makefile.Release
src/object_script.crsync.Debug
src/object_script.crsync.Release
src/m32/
src/obj/
src/libs/

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# User files
*.user

# Android Project files
android/.project
android/.classpath
android/.settings/
android/bin/
android/gen/

# IDE Project Files
build/
